* {
  box-sizing: border-box;
}


body {
  margin: 0;
  height: auto;
	color: white;
	font-family: 'IBM Plex Sans', sans-serif;
  background-color: #161616;
}

.hs-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
  padding-right: 3%;
  padding-left: 3%;
  margin: 0 auto;
}

h1, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

.bold {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

.section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
  align-items: center;
	background-color: #262626;
	width: 600px;
	padding: 2rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

#submit {
  width: 50%;
  border: 0px;
  background-color: #0f62fe;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

textarea {
    width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media only screen and (min-width: 300px) and (max-width: 960px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .section {
    max-width: 100%;
    margin: 0 auto;
  }

  .hs-text {
    max-width: 100%;
    margin: 0 auto;
  }

  #cfs_form {
    max-width: 100%;
  }
  textarea {
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
}

input[type=text] {
	width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
	width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
